/* In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Import Compass libraries
@import "compass/reset";							// Reset styles
@import "compass/css3/border-radius";	// Cross-browser border radius
@import "compass/css3/images";				// Gradients
@import "compass/css3/box-sizing";		// Cross-browser box sizing

// Import additional CSS
@import "normalize";			// Normalize
@import "h5bp";						// HTML5 Boilerplate
@import "fonts";					// Custom fonts (e.g, Typekit, etc)


/* =======================================================================
		VARIABLES
======================================================================= */

/* Layout
----------------------------------------------------------------------- */
$max-width: 980px;						// Max width of the page content (Guess-timated from original PSD)
$default-border-radius: 2px;	// Default border radius for generator
$font-size-01: 14px;					// Default font size

/* Colors
----------------------------------------------------------------------- */
// Background colors
$bg-color-01: #ececec;		// Gallery Gray
$bg-color-02: #e2e2e2;		// Mercury Gray
$bg-color-03: #af0253;		// Lipstick Pink

// Font colors
$font-color-01: #7c7b74;	// Friar Gray
$font-color-02: #ffffff;	// White
$font-color-03: #42014e;	// Plum Purple
$font-color-04: #df0e6b;	// Raspberry Pink
$font-color-05: #073768;	// Deep Sapphire

// Link colors
$link-color-01: #416589;	// Bismark Blue
$link-color-02: #fb0059;	// Rose

// Gradient colors (for buttons)
$gradient-color-01: #f7941e;	// Poppy Orange
$gradient-color-02: #f14082;	// Rose



/* =======================================================================
		MIXINS
======================================================================= */

// Smooth fonts via browser rendering
@mixin smooth-fonts {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// Center block elements using margin auto
@mixin center-block {
	display: block;					// Set display to block
	margin: 0 auto;					// Set margin to 0 (vertical) and auto (horizontal)
}

// Make an element span the full width of the window
@mixin full-width {
	@include center-block;	// Center the block element
	width: 100%;						// Set width to 100%
	max-width: $max-width;	// Set max-width to predefined value
}



/* =======================================================================
		LAYOUT
======================================================================= */

/* Content wrapper
----------------------------------------------------------------------- */
.wrap {
	position: relative;
	@include full-width;		// Wrap content at the max width of the page
}

// Remove padding from lists
menu, ol, ul {
	padding: 0;
}


/* Columns
----------------------------------------------------------------------- */
.column {
	display: inline-block;						// Keep elements on same line
	/* Note: inline-block will require you to remove whitespace from in between elements to work properly. */
	@include box-sizing(border-box);	// Set width to outer border
	padding: 0 1em 1em 0;						// Set padding-right to 0
	overflow: visible;								// Remove excess size data (allows perfect relative values, e.g. 33.333%)
	vertical-align: top;							// Align content to top
}

.last {
	padding: 0 0 1em 1em;	// Set padding-left to 0
}

.one-third {
	width: 33.33333333333333%;
}

.one-fourth {
	width: 25%;
}



/* =======================================================================
		PRESENTATION STYLES
======================================================================= */

/* Global styles
----------------------------------------------------------------------- */
html, body {
	background: $bg-color-01;

	// Font
	@include smooth-fonts;
	@include proxima-regular;
	font-size: $font-size-01;
	color: $font-color-01;
}

// Heading font
h1, h2, h3, h4, h5, h6 {
	@include adelle-light;
	color: $font-color-04;
}


/* Link styles
----------------------------------------------------------------------- */
a {
	color: $link-color-01;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/* Header
----------------------------------------------------------------------- */
header {
	position: relative;					// Set position to relative so that #main-navigation can use absolute positioning (instead of float)
}

.logo-text {
	padding: 20px 0 55px 0;

//	Not sure how to get the image replacement to work just yet
//	background: image-url('mattr-logo-text.png') center left no-repeat;
}


/* Navigation
----------------------------------------------------------------------- */
#main-navigation {
	// Position
	position: absolute;
	top: 12px;
	right: 0;

	// Font
	font-size: 0.85714285714286rem;	// 12px / 14px
	line-height: 1.16666666666667;	// 20px / 12px
	text-transform: uppercase;
	font-weight: bold;

	// List styles
	ul {
		li {
			display: inline-block;

			a {
				padding: 0 1.14285714285714rem;	// 16px / 14px
				color: $link-color-02;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}


/* Hero
----------------------------------------------------------------------- */
.hero {
	background: $bg-color-03 image-url('hero-bg.jpg') top center no-repeat;
	background-size: cover;		// Set size to cover to fill entire width of the page
	color: $font-color-02;

	h1 {
		margin: 0;							// Remove margins from headings in the header (fixes offset from the top of the page)
		color: $font-color-02;
	}
}


/* Call to Action
----------------------------------------------------------------------- */
#call-to-action {
	@include center-block;
	max-width: 480px;
	padding-bottom: 110px;
	text-align: center;

	h1 {
		font-size: 48px;
		line-height: 0.91666666666667;	// 44px / 48px
	}

	.description {
		margin-bottom: 45px;
	}

	.invite {
		@include proxima-semibold;
		font-size: 0.92857142857143rem;		// 13px / 14px
		line-height: 1.38461538461538;		// 18px / 13px
		text-transform: uppercase;
	}

	form {
		position: relative;

		// Font
		&, input, button {
			@include proxima-semibold;
		}

		input {
			width: 100%;
			@include box-sizing(border-box);
			padding: 15px;
		}

		button {
			// Position
			position: absolute;
			top: 6px;
			right: 5px;
			width: 130px;
			padding: 11px;

			// Border
			border: 0;
			@include border-radius();

			// Font
			text-transform: uppercase;
			color: $font-color-02;

			// Background
			background-color: $gradient-color-01; // Old browsers
			@include filter-gradient($gradient-color-01, $gradient-color-02, horizontal); // IE6-9 fallback on horizontal gradient
			@include background-image(linear-gradient(left top, $gradient-color-01 0%,$gradient-color-02 100%));
		}
	}
}

// Logo icon that displays at the top of #call-to-action
.logo-icon {
	margin-bottom: 24px;
}


/* Main Content
----------------------------------------------------------------------- */
.main-content {
	margin-bottom: 135px;

	.column {
		margin-top: 50px;
	}
}

.app-info {
	h2 {
		// Position
		margin: 95px 0 12px 0; // Distance from top - Column margin top = 145px - 50px

		// Font
		color: $font-color-03;
		font-size: 3.71428571428571rem;	// 52px / 14px
		line-height: 1;
	}

	p {
		// Position
		margin: 0;

		// Font
		@include adelle-light-italic;
		font-size: 1.21428571428571rem;	// 17px / 14px
		line-height: 1.57142857142857;	// 22px / 14px
	}
}

// Circle images at the top of each column in main content
.app-feature-image {
	display: block;
	margin: 0 auto;
}


/* Footer
----------------------------------------------------------------------- */
footer {
	padding: 60px 0 110px 0;
	background: $bg-color-02;

	h1, h2, h3, h4, h5, h6 {
		@include proxima-regular;
	}
}



/* =======================================================================
		MISCELLANEOUS
======================================================================= */

// Prompt to show for outdated browsers
.browsehappy {
    margin: 0.2rem 0;
    background: #ccc;
    color: #000;
    padding: 0.2rem 0;
}

// Temporarily hide stick-nav
.sticky-nav {
	display: none;
}
